asn1crypto==0.24.0
azure-common==1.1.22
azure-storage-blob==2.0.1
azure-storage-common==2.0.0
boto3==1.9.164
botocore==1.12.164
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==3.2
docutils==0.14
future==0.17.1
idna==2.8
ijson==2.3
jmespath==0.9.4
pycparser==2.19
pycryptodomex==3.8.2
PyJWT==1.7.1
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
requests-aws4auth==0.9
s3transfer==0.2.1
six==1.12.0
snowflake-connector-python==1.8.2
urllib3==1.25.3
